body{
    background-color:black;
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
#titulo{
   color: thistle; 
}
#p1{
    color: white;
}
#p2{
    color: white;
}
#container{
    width: 70%;
    margin: 0 auto;
    border: 2px solid blue;
    margin-top: 70px;
    background-color: cornflowerblue;
}

#header{
    background-color: wheat;
    color: black;
    margin: 0 auto;
}
<<<<<<< HEAD
=======

#fotter{
    background-color: blanchedalmond;
    color: blue;
    height: 80px;
}
#pFotter{
    text-transform: uppercase;
}
>>>>>>> fotter
